<!--<h1>-->
    <!--Basic styling </h1>-->

<!--<form [formGroup]="form" class="ui form" (ngSubmit)="onSubmit(form.value)">-->
    <!--<div class="{{ each.key }} field" *ngFor="let each of template | mapToIterable">-->
        <!--<hb-form-widget [data]="each.val" [key]="each.key"></hb-form-widget>-->
        <!--<hb-form-array *ngIf="each.val?.groupType == 'array'" [formArrayName]="each.key" [data]="each.val" [key]="each.key"></hb-form-array>-->
        <!--<hb-form-object *ngIf="each.val?.groupType == 'object'" [data]="each.val" [key]="each.key"></hb-form-object>-->
    <!--</div>-->
<!--</form>-->

<!--<hr />-->

<h1>Angular Material Design </h1>

<!--<form [formGroup]="form" class="ui form" (ngSubmit)="onSubmit(form.value)">-->
<!--    <hb-mat-form-object [data]="template" [key]="''"></hb-mat-form-object>-->
<!--</form>-->

<hr/>

<form [formGroup]="form" class="ui form" (ngSubmit)="onSubmit(form.value)">
    <hb-form-object [data]="template" [key]="''"></hb-form-object>
</form>
